* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* font-family: 'Inconsolata', monospace;
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif; 
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    font-weight: 400;
}

h1 {
    font-size: 35px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

h2 {
    font-size: 34px;
    margin-bottom: 14px;
}

h3 {
    font-size: 30px;
    margin-bottom: 14px;
}

h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 17px;
    line-height: 30px;
    font-family: 'Ubuntu', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1730px px;
    margin-left: auto;
    margin-right: auto;
    /* siin võiks olla selle asemel ka padding left 1px ja padding right 15px */
    padding: 0 15px;
}

.banner {
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #d5c6c1;
}

.banner--large {
    height: 500px;
}

.banner__dark-bg {
    color: white;
}

.thumbnail {
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu__list {
    list-style-type: none;
}

.menu__link {
    padding: 5px 0;
    display: inline-block;
    font-size: 15px;
    line-height: 27px;
}