/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* font-family: 'Inconsolata', monospace;
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif; 
*/


/* siin arvutatakse fondi vaikesuurus (16px tavaliselt) ymber 10px peale, siis ta muutub meile rem vaartuse jaoks kordajaks */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inconsolata', monospace;
    /* 1.7rem on enamikeljuhtudel 17px see korrutub htmli fondisuurusega mis on 10  1.7 X 10 = 17 pikslit mis on vajalik pikslite suurus */
    font-size: 1.7rem;
}

::-webkit-input-placeholder {
    /* Edge */
    font-family: 'Inconsolata', monospace;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: 'Inconsolata', monospace;
}

input::-webkit-input-placeholder {
    font-family: 'Inconsolata', monospace;
}

input::-moz-placeholder {
    font-family: 'Inconsolata', monospace;
}

input:-ms-input-placeholder {
    font-family: 'Inconsolata', monospace;
}

input::-ms-input-placeholder {
    font-family: 'Inconsolata', monospace;
}

input::placeholder,
input {
    font-family: 'Inconsolata', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0.46em;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.8rem;
}

p {
    font-size: 1.7rem;
    /* reakõrgus on 1.76 korada suurem siin olevast fondi suurusest,line height puhuhl võib kirjutada ka ainult 1.76 */
    line-height: 1.76em;
    font-family: 'Ubuntu', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

::-moz-selection {
    background-color: black;
    color: white;
}

::selection {
    background-color: black;
    color: white;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
    text-underline-offset: 0.24em;
}

a:hover {
    text-decoration: underline;
}

.button:link,
.button:visited {
    text-decoration: underline;
    color: black;
}

.button:hover {
    -webkit-text-decoration-color: #848484;
    text-decoration-color: #848484;
}

input {
    line-height: 43px;
    border: 1px solid #848484;
    padding-left: 5px;
    padding-right: 5px;
}

input[type="submit"] {
    width: 4.8rem;
    line-height: 48px;
    height: 45px;
    background-color: black;
    color: white;
    border-color: black;
}

.desktop-only {
    display: none;
}

.container {
    max-width: 173rem;
    margin-left: auto;
    margin-right: auto;
    /* siin võiks olla selle asemel ka padding left 1px ja padding right 15px */
    padding: 0 1.5rem;
}

.container--sm {
    max-width: 52.3rem;
    background-color: red;
}

.text-align-center {
    text-align: center;
}

.flex-row {
    display: flex;
}

form .flex-row {
    gap: 0.5em;
}

form .column:first-child {
    flex-basis: 100%;
}

.subscription input[type="email"] {
    width: 100%;
}

.banner {
    min-height: 50vh;
    /* maksimaalne suururs kahest suurusest */
    min-height: max (50vh, 300px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #d5c6c1;
    display: flex;
    align-items: center;
    padding: 5rem;
    position: relative;
}

.banner--large {
    min-height: calc(50vh - 100px);
}

.banner__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.banner__container {
    width: 100%;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 18%;
}

.banner:not(.banner--large) .banner__container {
    margin-top: 0;
}

.banner__dark-bg {
    color: white;
}

h1.banner__heading {
    /* clamp võtab miinimumi, optimumi ja maksimumi ningi juhib suurust paindlikult vastavalt nendele suurustele */
    font-size: clamp(3.5rem, 6vw, 6rem);
}

.banner--playfair .banner__heading {
    font-family: 'Playfair Display', serif;
    text-transform: unset;
}

.thumbnail {
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* thumbnailile määran position realative, et thumbnail __hover position absolutega jääks sinna kinni */
    position: relative;
}

.thumbanil__hover {
    /* position absolute kinnitub kõige lähema position relative/fixed elemenfi külge */
    position: absolute;
    background-color: rgb(255 255 255 / 60%);
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* thumbnaili pilt peab olema display block tüüpi , et ei tekiks alla 3px ruumi */

.thumbnail__img {
    display: block;
}

.menu__list {
    list-style-type: none;
}

.menu__link {
    padding: 0.333em 0.9em;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.8em;
}

.menu--horizontal .menu__list {
    display: flex;
    gap: 8px;
}

.header-main {
    background-color: white;
    bottom: auto;
    padding: 3.6rem 0;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
}

.logo__img {
    max-width: 8.5rem;
}

.burger-menu {
    width: 2rem;
    border: none;
    background-color: transparent;
}

.burger-menu__line {
    border-bottom: 1px solid black;
    display: block;
    margin-bottom: 5px;
}

.burger-menu__line:last-child {
    margin-bottom: 0;
}

.top-button,
.top-button:link,
.top-button:visited {
    position: fixed;
    bottom: 3rem;
    right: -8rem;
    z-index: 1;
    transform: rotate(270deg);
    transform-origin: left;
    color: #888
}

.fixed-sidebar {
    position: fixed;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3rem 7rem;
    display: none;
}

.close-button {
    width: 19px;
    height: 19px;
    background-color: transparent;
    border: none;
    position: relative;
}

.close-button::before,
.close-button::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
}

.close-button::before {
    transform: rotate(45deg);
}

.close-button::after {
    transform: rotate(-45deg);
}

.product-grid {
    display: -ms-grid;
    display: grid;
}

@media screen and (min-width:640px) {
    .product-grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1025px) {
    .small-screen-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }
    .banner--large {
        min-height: calc(100vh - 100px);
    }
}